<% include ../layouts/main-layout %>

<body style="background: lightgray">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">

                <% if (messages.success) { %>
                <div class="alert alert-success" role="alert"><%- messages.success %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %>

                <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert"><%- messages.error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %>

                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <a href="/dashboard" class="btn btn-md btn-primary mb-3">KEMBALI KE DASHBOARD</a>
                            <a href="kamar/create" class="btn btn-md btn-success mb-3 ml-auto">TAMBAH
                                KAMAR</a>
                        </div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">NO.</th>
                                    <th scope="col">NOMOR KAMAR</th>
                                    <th scope="col">JENIS KAMAR</th>
                                    <th scope="col">STATUS KAMAR</th>
                                    <th scope="col">AKSI</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(data.length){
                                    
                                    for(var i = 0; i< data.length; i++) {%>
                                <tr>
                                    <th scope="row" class="text-center"><%= (i+1) %></th>
                                    <td><%= data[i].id_kamar%></td>
                                    <td><%= data[i].tipe_kamar%></td>
                                    <td><% 
                                        switch(data[i].status_kamar) {
                                            case 'READY':
                                                %> Tersedia <% 
                                                break;
                                            case 'NOT_READY':
                                                %> Terisi <% 
                                                break;
                                            case 'ON_CLEANING':
                                                %> Sedang Dibersihkan <% 
                                                break;
                                            case 'UNAVAILABLE':
                                                %> Tidak Tersedia <% 
                                                break;
                                            default:
                                                %> Status Tidak Dikenal <% 
                                        }
                                        %></td>
                                    <td class="text-center">
                                        <a href="/kamar/edit/<%=data[i].id_kamar%>"
                                            class="btn btn-sm btn-primary">EDIT</a>
                                        <a href="#" onclick="confirmDelete('<%=data[i].id_kamar%>')"
                                            class="btn btn-sm btn-danger">HAPUS</a>
                                    </td>
                                </tr>
                                <% }
                                    
                                }else{ %>
                                <tr>
                                    <td colspan="4">
                                        <div class="alert alert-danger" role="alert">
                                            Data Tidak Ditemukan !
                                        </div>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function confirmDelete(id_kamar) {
            if (confirm('Apakah Anda yakin ingin menghapus kamar ini?')) {
                window.location.href = '/kamar/delete/' + id_kamar;
            }
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    </script>

</body>

</html>