<% include ../layouts/main-layout %>
<%
  const activePage = 'layanan';
%>
<% include ../layouts/navbar with { activePage: activePage } %>

<body style="background: lightgray">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">

                <% if (messages.success) { %>
                <div class="alert alert-success" role="alert" style="position: relative;">
                    <%- messages.success %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        style="position: absolute; right: 0 ;top: 0; background: none; border: none;">
                        <span aria-hidden="true" style="font-size: 20px;">&times;</span>
                    </button>
                </div>
                <% } %>

                <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert" style="position: relative;">
                    <%- messages.error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        style="position: absolute; right: 0 ;top: 0; background: none; border: none;">
                        <span aria-hidden="true" style="font-size: 20px;">&times;</span>
                    </button>
                </div>
                <% } %>

                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <a href="/dashboard" class="btn btn-md btn-outline-primary mb-3">KEMBALI KE DASHBOARD</a>
                            <a href="layanan/create" class="btn btn-md btn-outline-success mb-3 ml-auto">TAMBAH
                                LAYANAN</a>
                        </div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align: center;" scope="col">NO.</th>
                                    <th scope="col">JENIS LAYANAN</th>
                                    <th scope="col">NAMA ITEM</th>
                                    <th scope="col">HARGA ITEM</th>
                                    <th scope="col">KUOTA</th>
                                    <th style="text-align: center;" scope="col">AKSI</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(data.length){
                                    
                                    for(var i = 0; i< data.length; i++) {%>
                                <tr>
                                    <th scope="row" class="text-center"><%= (i+1) %></th>
                                    <td><% 
                                        switch(data[i].jenis_layanan) {
                                            case 'EXTRA_BED':
                                                %> Extra Bed <% 
                                                break;
                                            case 'FnB':
                                                %> Food and Beverage <% 
                                                break;
                                            case 'LAUNDRY':
                                                %> Laundry <% 
                                                break;
                                            case 'MINIBAR':
                                                %> Minibar <% 
                                                break;
                                            default:
                                                %> Status Tidak Dikenal <% 
                                        }
                                        %></td>
                                    <td><%= data[i].nama_item%></td>
                                    <td class="formattedHarga"><%= data[i].harga_item%></td>
                                    <td><%= data[i].kuota !== null ? data[i].kuota : '-' %></td>
                                    <td class="text-center">
                                        <a href="/layanan/edit/<%=data[i].id_layanan%>"
                                            class="btn btn-sm btn-outline-primary">EDIT</a>
                                        <a href="#" onclick="confirmDelete('<%=data[i].id_layanan%>')"
                                            class="btn btn-sm btn-outline-danger">HAPUS</a>
                                    </td>
                                </tr>
                                <% }
                                    
                                }else{ %>
                                <tr>
                                    <td colspan="6">
                                        <div class="alert alert-danger" role="alert">
                                            Data Tidak Ditemukan !
                                        </div>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function confirmDelete(id_layanan) {
            if (confirm('Apakah Anda yakin ingin menghapus layanan ini?')) {
                window.location.href = '/layanan/delete/' + id_layanan;
            }
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Fungsi untuk memformat nilai harga
            function formatCurrency(number) {
                return new Intl.NumberFormat('id-ID', {
                    style: 'currency',
                    currency: 'IDR',
                    minimumFractionDigits: 0,
                }).format(number);
            }

            // Mendapatkan elemen-elemen dengan class "formattedHarga" dan memformat nilai harga di setiap elemen
            var hargaElements = document.querySelectorAll('.formattedHarga');
            hargaElements.forEach(function (element) {
                var harga = parseFloat(element.textContent
                    .trim()); // Mendapatkan nilai harga dari elemen
                element.textContent = formatCurrency(
                    harga); // Memformat dan menetapkan nilai yang diformat ke dalam elemen
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    </script>

</body>

</html>